body{
    background-color: rgb(2, 2, 41);
    display: flex;
    align-content: center;
    justify-content: center;
}

#centro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#aa {
    width: 350px;
    height: auto;
}

#name {
    padding: 7px;
}

#cadastrar {
    background-color:skyblue
}

#addTech {
    background-color:skyblue;
}

h1 {
    color: aliceblue;
}